.cajaCarrito {
   background-color: aqua;
   position: absolute;
   top: 0;
   right: 30px;
}

.botonCarrito {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #82BD4B;
   height: 62px;
   width: 97px;
   border: none;
   transition: transform 1s ease;
}

.botonCarrito svg {
   font-size: 40px;
}

.unidadesEnCarrito {
   font-size: 1rem;
   padding: 5px;
}

.CarritoCero {
   display: none;
}

/*------------------------------------------------------------------MOVIL---------------------------------------------------------*/

@media (max-width: 415px) {
   .cajaCarrito {
      right: 0px;
   }
   
   .botonCarrito svg {
      font-size: 30px;
   }
   
   .botonCarrito {
      width: 60px;
      height: 45px;
   }

   .unidadesEnCarrito {
      font-size: .1rem;
   }

}