.ultimosIngresos {
  height: 100px;
  display: flex;
  align-items: center;
}

.tituloUltIngresos {
  font-size: 30px;
  margin-left: 120px;
  color: #F2F2F2;
  font-family: 'Pirata One', cursive;
}

.imagUltimosIngresos{
  padding: 0 120px;
  height: 420px;
  background-color: #2A2A2A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unidadesImg {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagUltimosIngresos .unidadesImg:nth-of-type(even) {
  background-color: #82BD4B;
}
.imagUltimosIngresos .unidadesImg:nth-of-type(odd) {
  background-color: #F2F2F2;
}

.unidadesImg img{
  width: 160px;
  transition: transform 1s ease;
}

.unidadesImg img:hover{
  transform: scale(1.2);
}