.seccionUnoProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 30px;
}

.seccionUnoProduct img:first-child {
  height: 47px;
  position: absolute;
  z-index: 1;
}

.seccionUnoProduct img:nth-child(2) {
  height: 57px;
}


@media (max-width: 415px) {
  .seccionUnoProduct {
    top: 18px;
    left: 20px;
  }

  .seccionUnoProduct img:first-child {
    height: 32px;
  }

  .seccionUnoProduct img:nth-child(2) {
    height: 37px;
  }
}