.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 120px;
  background-color: #82BD4B;
}

.contactanos {
  font-size: 2rem;
  font-weight: 400;
  color: #2A2A2A;
  margin: 0;
}

.redes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.redes svg {
  font-size: 25px;
}

@media (max-width: 415px) {
  .footer-container {
    height: 80px;
    margin-bottom: 45px;
  }

  .contactanos {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .redes {
    gap: 15px;
  }

  .redes svg {
    width: 20px;
  }

}