.detalleDeProducto {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    width: 81%;
}

.detalleImgProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 450px;
    background-color: #82BD4B;
}

.detalleImgProductos img {
    width: 80%;
    height: 350px;
    object-fit: contain;
    transition: transform 1s ease;
}

.detalleImgProductos img:hover {
    transform: scale(1.2);
}

.detalleTextoProductos {
    background-color: #2A2A2A;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoProductos {
    width: 70%;
}

.textoProductos p {
    color: #FFFFFF;
}

.nombre,
.detallesBold,
.stock {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

.precios {
    font-size: 1.2rem;
    margin: 0 0 10px;
}

.detalles {
    font-size: 1rem;
    margin: 0 0 10px;
    width: auto;
}

.contenedorDetalles {
    display: flex;
    justify-content: center;
    width: 100%;
}


@media (max-width: 415px) {
    .detalleDeProducto {
        margin: 70px 20px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .detalleImgProductos {
        width: 100%;
        height: 170px;
    }

    .detalleImgProductos img {
        height: 100%;
    }

    .detalleTextoProductos {
        width: 100%;
        padding: 15px 15px;
        box-sizing: border-box;
    }

    .textoProductos {
        width: 100%;
    }

    .detallesBold,
    .stock {
        font-weight: 700;
        font-size: 1.2rem;
        margin: 0;
    }

    .precios {
        font-size: 1rem;
        margin: 0 0 10px;
    }

    .detalles {
        font-size: 0.9rem;
        margin: 0 0 10px;
    }
}