* {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #1F1F22;
  padding: 0%;
  margin: 0%;

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  margin-bottom: 60px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 38%;
  height: 100%;
  gap: 150px;
  margin: 0px;
  padding: 0px;
  background-color: #2A2A2A;
}


.menu a {
  color: #F2F2F2;
  text-decoration: none;
}

.menu li {
  font-size: 1.1rem;
}

.menu li:hover {
  color: #82BD4B;
}

/*------------------------------------------------------------------MOVIL---------------------------------------------------------*/

@media (max-width: 415px) {
  .navbar {
    height: 45px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    background-color: #2A2A2A;
    z-index: 1;
  }

  .menu{
    gap: 50px;
  }
  
}